name: Publish to Hex

on:
  push:
    tags:
      - v*

jobs:
  publish:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: 22.15.0
      - name: Set up Elixir
        uses: erlef/setup-beam@v1
        with:
          elixir-version: '1.19.1'
          otp-version: '28'
      - name: build and publish
        env:
          HEX_API_KEY: ${{ secrets.HEX_API_KEY }}
        run: |
          mix setup
          mix build
          mix hex.publish --yes
